doctype 5
html
head
  title DevPath Chicago
  link(rel='stylesheet', href='./style.css')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.1/modernizr.min.js')

body
  header
    .container
      a#logo
        span DevPath

      nav
        a Who
        a What
        a.current Where
        a When
        a Why

  section#main
    h1 The Details

    article
      | Accusamus cupidatat ea mlkshk. Pariatur pop-up 3 wolf moon kogi, fanny pack deserunt
      | godard Austin ethical beard bespoke bicycle rights. Organic occupy esse, tofu
      | pitchfork deserunt lo-fi single-origin coffee voluptate scenester iphone vinyl. Irure
      | thundercats occaecat, lo-fi fap sed bushwick photo booth yr tofu carles skateboard
      | twee. Incididunt messenger bag elit, ex williamsburg excepteur fugiat aliqua seitan
      | cliche sapiente ea marfa post-ironic vinyl. American apparel brunch in sriracha
      | locavore, art party leggings raw denim pickled food truck ex nesciunt you probably
      | haven't heard of them bicycle rights vegan. Labore american apparel pinterest, est
      | cray banksy terry richardson voluptate nesciunt direct trade.

