doctype 5
html
head
  title DevPath Chicago
  link(rel='stylesheet', href='/style.css')
  script(src='/modernizr.min.js')
  script(src='/jquery-1.8.0.min.js')
  script(src='/underscore.min.js')
  script(src='/backbone.min.js')
  script(src='http://cdnjs.cloudflare.com/ajax/libs/require.js/0.26.0/require.min.js', data-main='initialize')

body
  header
    .container
      a#logo
        small ~>
        span DevPath
        u &nbsp;

      nav
        a.current Overview
        a Structure
        a Principles

  section#main
    article
      h1
        a Get on the path&nbsp;
        span to becoming a professional web developer.

      img(src='http://placehold.it/500x300', class='right')

      p
        | Build features for web applications in a <em>team-based</em> agile environment from a <em>full-stack</em> perspective.<br>
        | <em>Bi-weekly sessions</em> are modeled after what it's really like to work as a web developer.
        | We'll work on both hard and soft skills like:

      ul
        li distilling tech specs from product requests
        li TDD
        li code reviews
        li pair programming
        li front end development
        li workflow optimizations


      p.clear
      | You'll gain new perspectives, programming skills, interview coaching, a Github fork of all your work to show off during your job interviews, and experiences that even we can't predict.
      | You'll learn how to work on an efficient development team solving real problems and gain a programming philosophy that will carry you long into your web development career.



    article
      h2 Structure
      p DevPath is kicking off with a trial 1 month program. Team members can expect to take away:

      h3 Outcomes
      ul
        li An updated resume
        li An active Github profile
        li A mock interview
        li Communication and personal branding practice
        li Portfolio work

      h3 Environment
      ul
        li job-like combined with teaching moments by Todd and Geoff
        li Progress tracking
        li homework
        li centered around code quality and peer reviews
        li Open Source workflow and ideals

      h3 Classroom Tools
      ul
        li Github for version control
        li Github for issue management

      h3 Logistics
      ul
        li 3 hours / session
        li 2 sessions / week <small>(Tuesdays and Thursdays, 6pm - 9pm)</small>
        li $100 / week
        li @CatapultChi

    article
      h2 Principles
      p We'll use the DevPath set of principles to guide our work sessions in an organic way:
      ul
        li Name things precisely.
        li Test small units and integration.
        li Don't repeat yourself.
        li Modularize code and directory structure
        li The Best Solution always wins
        li Refactor don't rewrite
        li Be explicit over implicit.
        li Pair programming is invaluable.

footer
